.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.logo-img {
  height: 50px;
  width: auto;
  vertical-align: baseline;
  float: left;
}

.header-class {
  background-color: #333;
  height: 80px;
}

.nav-link a {
  color: #333;
}

.lang-change-btn {
  margin-right: 40px;
  margin-top: 10px;
  vertical-align: middle;
  float: right;
}
